h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 5px;
  text-decoration: underline;
  margin-bottom: 80px;
}
.marker {
  width: 280px;
  height: 25px;
  margin: 25px auto;
}
.red {
  background: linear-gradient(
    rgb(150, 55, 50),
    rgb(255, 80, 120),
    rgb(150, 55, 50)
  );
}
.orange {
  background: linear-gradient(
    rgb(150, 70, 10),
    rgb(255, 140, 20),
    rgb(150, 70, 10)
  );
}
.yellow {
  background: linear-gradient(
    rgb(150, 150, 10),
    rgb(255, 255, 0),
    rgb(150, 150, 10)
  );
}
.green {
  background: linear-gradient(
    rgb(50, 100, 10),
    rgb(0, 200, 0),
    rgb(50, 100, 10)
  );
}
.blue {
  background: linear-gradient(
    rgb(50, 100, 200),
    rgb(0, 200, 255),
    rgb(50, 100, 200)
  );
}
.indigo {
  background: linear-gradient(
    rgb(10, 50, 100),
    rgb(0, 100, 220),
    rgb(10, 50, 100)
  );
}
.violet {
  background: linear-gradient(
    rgb(70, 10, 180),
    rgb(150, 50, 255),
    rgb(70, 10, 180)
  );
}
.cap,
.sleeve {
  display: inline-block;
}
.cap {
  width: 80px;
  height: 25px;
}
/*.sleeve {
  width: 180px;
  height: 25px;
  background-color: black;
}*/
